:root {
  --basic-black: #131417;
  --basic-white: #fafafa;
  --text-hover: #eb5757;
  --basic-orange: #f2994a;
  --basic-grey: #252830;
}

/* 
tablet-width: 768px;
desktop-width: 1024px;
desktop-big-width: 1440px;
mobile-width-only: 767px;
iPhone 8 :376px */

html,
body,
main {
  height: 100%;
  box-sizing: border-box;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/*HEADER*/
.main__header {
  background-color: var(--basic-black);
  min-height: 80px;
  width: 100%;
}

.header__container {
  font-family: "Roboto";
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 3% 0 3%;
}

.header__nav {
  position: fixed;
  margin-top: 80px;
  height: 100%;
  width: 100%;
  right: 0;
  top: 0;
  background-color: var(--basic-black);
}
.header__logo {
  width: 46px;
  height: 46px;
}
.logo__img {
  margin: 17px 0 17px 0;
}
.nav__main-menu,
.nav__sub-menu,
.sub-menu__sub {
  list-style: none;
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu-item {
  position: relative;
}
.menu-link {
  display: block;
  position: relative;
  font-family: "Roboto";
  font-size: 18px;
  line-height: 24px;
  text-decoration: none;
  color: var(--basic-white);
}

.nav__toggle {
  margin-top: 20px;
  position: relative;
  right: 0;
  top: 0;
  bottom: 0;
  width: 40px;
  height: 40px;
  cursor: pointer;
  border: 0;
  background: 0 0;
}

.nav__toggle::before {
  content: "";
  position: absolute;
  top: 10px;
  left: 8px;
  width: 24px;
  height: 2px;
  background-color: var(--basic-orange);
  box-shadow: 0 9px 0 0 var(--basic-orange), 0 18px 0 0 var(--basic-orange);
}

.header__contact {
  padding: 28px 0 28px 0;
  position: absolute;
  padding: 26px 0 26px 0;
  right: 75px;
}

.contact__telephone-container {
  text-decoration: none;
}

.telephone-container__number {
  display: none;
  margin: 0;
  font-family: "Roboto";
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  color: var(--basic-white);
}
.contact__telephone-container:hover .telephone-container__number {
  color: var(--text-hover);
}

@media (max-width: 767px) {
  .telephone-container__img {
    margin-top: 5px;
  }
}

@media (min-width: 768px) {
  .contact__telephone-container {
    display: flex;
    align-items: center;
  }

  .telephone-container__number {
    display: block;
  }

  .header__contact {
    padding: 22px 0 22px 0;
    position: relative;
    right: 0;
  }
  .telephone-container__img {
    padding: 8px 10px 8px 0;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .header__nav {
    position: fixed;
    margin-top: 80px;
    height: 100%;
    width: 50%;
    right: 0;
    top: 0;
    background-color: var(--basic-black);
  }
  .used-submenu::after {
    content: "";
    position: absolute;
    height: 8px;
    left: 43%;
    top: 23%;
    border: 6px solid transparent;
    border-bottom: 7px solid var(--basic-orange);
  }
  .used-submenu:hover:after {
    border-bottom: 0;
    top: 9%;
    border-top: 7px solid var(--basic-orange);
  }
}

@media (max-width: 1023px) {
  main {
    padding-top: 80px;
  }
  .main__header {
    position: fixed;
  }
  .menu-link {
    padding: 20px;
    background-color: var(--basic-grey);
    border-bottom: 1px solid var(--basic-black);
  }

  .nav__main-menu {
    display: block;
    width: 100%;
    height: 90%;
    overflow: auto;
  }
  .nav__toggle {
    order: 2;
  }
  .display-toggle {
    display: none;
  }
  .nav__sub-menu {
    display: none;
  }

  .menu-link:hover {
    background-color: var(--basic-black);
  }

  .used-submenu:hover .nav__sub-menu {
    display: block;
  }
  .used-submenu::after {
    content: "";
    position: absolute;
    height: 8px;
    left: 165px;
    top: 15px;
    border: 6px solid transparent;
    border-bottom: 7px solid var(--basic-orange);
  }
  .used-submenu:hover:after {
    border-bottom: 0;
    top: 25px;
    border-top: 7px solid var(--basic-orange);
  }
}

@media (min-width: 1024px) {
  .header__nav {
    position: relative;
    margin-top: 0;
    width: auto;
  }
  .nav__toggle {
    display: none;
  }
  .header__container {
    margin: 0 5% 0 5%;
  }
  .nav__main-menu {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
  }

  .menu-item {
    padding: 28px 20px 28px 20px;
  }
  .menu-item a:hover {
    color: var(--text-hover);
  }
  .nav__sub-menu {
    display: none;
    position: absolute;
    width: 320px;
    top: 80px;
  }
  .used-submenu:hover .nav__sub-menu {
    display: block;
    position: absolute;
    width: 320px;
    width: 320px;
    top: 80px;
  }
  .sub-item {
    font-size: 16px;
    background-color: var(--basic-grey);
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  }
  .sub-item:last-child {
    border-bottom: none;
    border-radius: 0px 0px 8px 8px;
  }
}

/*MAIN*/

.main__container {
  width: 100%;
  height: 944px;
  background-image: url(../img/alpaca.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: center;
}
