:root {
  --basic-black: #131417;
  --basic-white: #fafafa;
  --text-hover: #eb5757;
  --menu-hamburger: #f2994a;
}

/* 
tablet-width: 768px;
desktop-width: 1440px;
mobile-width-only: 767px;
iPhone 8 :376px */

/*HEADER*/
.main__header {
  background-color: var(--basic-black);
  height: 80px;
  width: 100%;
}

.nav__main-menu {
  color: var(--basic-white);
}
.nav__main-menu,
.nav__sub-menu,
.sub-menu__sub {
  list-style: none;
}

/*MAIN*/

.main__container {
  width: 100%;
  height: 944px;
  background-image: url(../img/alpaca.png);
  background-repeat: no-repeat;
  background-size: cover;
}
